html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
}

.left-side{
  width: 100%;
  background-color: hotpink;
}

.right-side{
  width: 100%;
  background-color: hotpink;
}

.content{
  /*min-width: 900px;
  overflow: hidden;*/
  width: 600px;
  height: fit-content;
  background-color: grey;
}

.section-titles {
  text-align: center;
  color: darkred;
  font-size: 2em;
}

.text-white{
  color: white;
}

.navigation-bar-top {
  /*height: fit-content;*/
  /*min-width: 900px;
  overflow: hidden;*/
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.navigation-bar-logo {
  width: 50px;
  height: 50px;
  padding: 6px;
  /*object-fit: contain;*/
}

.navigation-links {
  /*width: 50%;*/
  /*width: 800px;*/
  /*width: 50vw;*/
  padding: 6px;
  /*
  height: fit-content;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*min-width: 500px;
  overflow: hidden;*/
}

.navigation-links a {
  /*font-size: 1vw;*/
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border-bottom: solid transparent;
  transition: all 225ms ease-in-out;
  color: white;
}

.navigation-links a:hover {
  border-bottom: 0.1vw solid White;
  transition: all 225ms ease-in-out;
}

#phone-button {
  border: 2px solid White;
  border-radius: 2px;
  background-color: Red;
  padding: 2px;
}

.navigation-bar-bottom {
  /*min-width: 900px;
  overflow: hidden;*/
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*text-align: center;*/
  /*line-height: 0;*/
  /*font-size: 1vw;*/
}

.header {
  background-image: url("C:/Users/scoo_/Documents/GitHub/sakura-ramen-website-v2/img/sakura-bg2.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: inherit;
  height: 425px; /*must specific a height*/
  background-color: black;
}

.header-content {
  /*width: 100%;*/
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  color: white;
  line-height: 0;
  text-align: center;
}

.header-content h1 {
  font-family: 'Raleway Bold 700', sans-serif;
  font-size: 2.8em;
}

.header-content p {
  font-family: 'Raleway Regular 400', sans-serif;
  font-size: 0.7em;
}

.order {
  background-color:whitesmoke;
  width: inherit;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orders {
  height: 100%;
  background-color: white;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.order-child {
  font-family: 'Raleway Bold 700', sans-serif;
  text-align: center;
}

.order-image {
  width: 50px;
  height: 50px;
  object-fit: fill;
}

.menu {
  background-image: url("C:/Users/scoo_/Documents/GitHub/sakura-ramen-website-v2/img/menu-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*position: relative;*/
  height: 800px; /*must specific a height*/
  background-color: black;
  display: flex;
  flex-direction: column;
}

.menu-content {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-img {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.menu table {
  width: 100%;
  color: grey;
  border-spacing: 0;
}

.menu table caption {
  font-size: 1.8em;
  text-align: left;
  font-family: 'Economica', sans-serif;
  line-height: 0;
  color: black;
}

/*.info {
  background-color: white;
  width: 100vw;
  height: 100%;
  line-height: 0;
  font-size: 2vw;
  text-align: center;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.footer {
  background-color: white;
  position: relative;
  height: fit-content;
  padding: 0.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  width: 99vw;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-logo {
  width: 20%;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vw;
}

.footer-buttons {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}*/
