html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.left-side{
  width: 100%;
  background-color: black;
}

.right-side{
  width: 100%;
  background-color: black;
}

.content{
  width: 506px;
}

.section-titles {
  text-align: center;
  color: darkred;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
}

.text-white{
  color: white;
}

.navigation-bar{
  width: 506px;
  background-color: rgba(0, 0, 0, 0.5); 
  position: fixed;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
}

.navigation-bar-top {
  width: 446px;
  padding-left: 30px;
  padding-right: 30px;
  top: 0;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  animation: top-bar-position-top-change 2225ms ease-in-out;
}

.navigation-bar-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  padding: 10px;
}

.navigation-links {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-links a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border-bottom: solid transparent;
  transition: all 225ms ease-in-out;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 0.5em;
}

.navigation-links a:hover {
  border-bottom: 2px solid White;
  transition: all 225ms ease-in-out;
}

#phone-button {
  width: 80px;
  height: 10px;
  border: 1px solid White;
  border-radius: 2px;
  background-color: rgb(140, 0, 0);
  padding: 2px;
  text-align: center;
}

.navigation-bar-bottom {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
  animation: bottom-bar-bottom-position-change 2225ms ease-in-out;
}

.navigation-bar-bottom p{
  line-height: 0;
  font-size: 0.8em;
  color: white;
}

.header {
  background-image: url("C:/Users/scoo_/Documents/GitHub/sakura-ramen-website-v2/img/sakura-bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: inherit;
  height: 360px; /*must specific a height*/
  background-color: Gray;
}

.header-content {
  /*width: 100%;*/
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  color: white;
  line-height: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  animation: header-text-position-top-change 2225ms ease-in-out;
}

.header-content h1 {
  font-size: 2.5em;
}

.header-content p {
  font-size: 0.55em;
}

.order {
  /*width: inherit;*/
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.orders {
  /*width: 100%;*/
  /*height: 100%;*/
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
   margin: 10px;
}

.order-child {
  width: 90px;
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.order-image {
  padding: 5px;
  width: 45px;
  height: 35px;
  object-fit: fill;
}

.order-text{
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  margin-block-start: 0;
}

.menu {
  background-image: url("C:/Users/scoo_/Documents/GitHub/sakura-ramen-website-v2/img/menu-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*position: relative;*/
  width: inherit;
  height: 630px; /*must specific a height*/
  background-color: Orange;
  display: flex;
  flex-direction: column;
}
/*TODO: REDUSE SPACE BETWEEN MENU-ITEMS*/
.menu-content {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.menu-item {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 65px;
  padding-right: 65px;
}

.menu-img {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.menu table {
  width: 200px;
  /*height: 100px;*/
  border-spacing: 0;
}

.menu table tbody{
  color: grey;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 0.9em;
}

.menu table tbody tr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.menu table caption {
  font-size: 1.4em;
  text-align: left;
  font-family: 'Economica', sans-serif;
  line-height: 0;
  color: black;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: inherit;
  height: 300px;
}

.info-text{
  height: 100%;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.info-text p{
  font-family: 'Economica', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
}

.text-margin{
  margin-block-start: 0;
  margin-block-end: 0;
}

.info-img{
  width: inherit;
  /*height: 100%;*/
  object-fit: cover;
}

.footer {
  width: 446px;
  background-color: White;
  position: relative;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding-left: 30px;
  padding-right: 30px;
}

.footer-left{
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left p{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
}

.footer-right{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@keyframes header-text-position-top-change{
  from{
    top: -63px;
  }

  to{
    top: 90px;
  }
}

@keyframes top-bar-position-top-change{
  from{
    top: -50px;
  }

  to{
    top: 0;
  }
}

@keyframes bottom-bar-bottom-position-change {
  from{
    bottom: -70px;
  }

  to{
    bottom: 0;
  }
}